<div class="main_container">
    <div class="main_section">
        <div class="heading">
            Health IT
        </div>
        <div class="desc">
            Health IT is a web application that helps you to manage your health records and also helps you to find the best doctors in your area.
        </div>
        <div class="copyWrite">
            &copy; 2019 Health IT
        </div>
    </div>
    <div class="main_section_other">
        <div class="header">
            Company
        </div>
        <div class="list">
            About Us
        </div>
        <div class="list">
            Find A Doctor
        </div>
    </div>
    <div class="main_section_other">
        <div class="header">
           Contribute
        </div>
        <div class="list">
            Github Repo
        </div>
    </div>
    
</div>
