<div class="main_container">
    <div class="main_text">
        <div class="main_text_item1">
            <div class="main_text_item_text1"><span class="text_l">Health IT</span></div>
        </div>
        <div class="main_text_item2">
            <div class="main_text_item_text2"><span class="text_l">Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident iure quae, rerum saepe animi veritatis consequuntur! At assumenda, repellat accusamus, natus iusto a quod ducimus amet sapiente voluptate consectetur. Explicabo ea, quis beatae accusamus eligendi esse tempore ipsa corrupti accusantium non ullam nobis culpa excepturi unde inventore assumenda nisi cupiditate! Hic sint voluptas quis. Dolorem, expedita</span></div>
        </div>
        <div class="main_text_item3">
            <div class="main_text_item_text3"><button class="text_l">Let's Save</button></div>
        </div>
    </div>
    <div class="image_item">
        <div></div>
    </div>
</div>